<p>
  <b>Contact name:</b>
  <%=h @invite.contact_name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @invite.mailing_address %>
</p>

<p>
  <b>Mailing address 2:</b>
  <%=h @invite.mailing_address_2 %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @invite.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @invite.email_address %>
</p>

<p>
  <b>Design name:</b>
  <%=h @invite.design_name %>
</p>

<p>
  <b>Quantity required:</b>
  <%=h @invite.quantity_required %>
</p>

<p>
  <b>Ordered sample:</b>
  <%=h @invite.ordered_sample %>
</p>

<p>
  <b>Text paper:</b>
  <%=h @invite.text_paper %>
</p>

<p>
  <b>Paper layer 2:</b>
  <%=h @invite.paper_layer_2 %>
</p>

<p>
  <b>Paper layer 3:</b>
  <%=h @invite.paper_layer_3 %>
</p>

<p>
  <b>Paper layer 4:</b>
  <%=h @invite.paper_layer_4 %>
</p>

<p>
  <b>Font color:</b>
  <%=h @invite.font_color %>
</p>

<p>
  <b>Ribbon color:</b>
  <%=h @invite.ribbon_color %>
</p>

<p>
  <b>Special requests:</b>
  <%=h @invite.special_requests %>
</p>

<p>
  <b>Invites design name:</b>
  <%=h @invite.invites_design_name %>
</p>

<p>
  <b>Invites quantity required:</b>
  <%=h @invite.invites_quantity_required %>
</p>

<p>
  <b>Invites sample ordered:</b>
  <%=h @invite.invites_sample_ordered %>
</p>

<p>
  <b>Invites text paper:</b>
  <%=h @invite.invites_text_paper %>
</p>

<p>
  <b>Invites layer 2:</b>
  <%=h @invite.invites_layer_2 %>
</p>

<p>
  <b>Invites layer 3:</b>
  <%=h @invite.invites_layer_3 %>
</p>

<p>
  <b>Invites layer 4:</b>
  <%=h @invite.invites_layer_4 %>
</p>

<p>
  <b>Invites font color:</b>
  <%=h @invite.invites_font_color %>
</p>

<p>
  <b>Invites ribbon color:</b>
  <%=h @invite.invites_ribbon_color %>
</p>

<p>
  <b>Reply cards style:</b>
  <%=h @invite.reply_cards_style %>
</p>

<p>
  <b>Map:</b>
  <%=h @invite.map %>
</p>

<p>
  <b>Hotel info:</b>
  <%=h @invite.hotel_info %>
</p>

<p>
  <b>Address labels:</b>
  <%=h @invite.address_labels %>
</p>

<p>
  <b>Coloured envelopes:</b>
  <%=h @invite.coloured_envelopes %>
</p>

<p>
  <b>Lined envelopes:</b>
  <%=h @invite.lined_envelopes %>
</p>

<p>
  <b>Double envelopes:</b>
  <%=h @invite.double_envelopes %>
</p>

<p>
  <b>Invites special requests:</b>
  <%=h @invite.invites_special_requests %>
</p>

<p>
  <b>Wedding date:</b>
  <%=h @invite.wedding_date %>
</p>

<p>
  <b>Brides name:</b>
  <%=h @invite.brides_name %>
</p>

<p>
  <b>Grooms name:</b>
  <%=h @invite.grooms_name %>
</p>

<p>
  <b>Brides parents:</b>
  <%=h @invite.brides_parents %>
</p>

<p>
  <b>Grooms parents:</b>
  <%=h @invite.grooms_parents %>
</p>

<p>
  <b>Ceremony location:</b>
  <%=h @invite.ceremony_location %>
</p>

<p>
  <b>Reception location:</b>
  <%=h @invite.reception_location %>
</p>

<p>
  <b>Cocktails time:</b>
  <%=h @invite.cocktails_time %>
</p>

<p>
  <b>Dinner time:</b>
  <%=h @invite.dinner_time %>
</p>

<p>
  <b>Dance time:</b>
  <%=h @invite.dance_time %>
</p>

<p>
  <b>Other time:</b>
  <%=h @invite.other_time %>
</p>

<p>
  <b>Save the date verse:</b>
  <%=h @invite.save_the_date_verse %>
</p>

<p>
  <b>Invitation verse:</b>
  <%=h @invite.invitation_verse %>
</p>

<p>
  <b>Rsvp verse:</b>
  <%=h @invite.rsvp_verse %>
</p>

<p>
  <b>Rsvp envelope address:</b>
  <%=h @invite.rsvp_envelope_address %>
</p>

<p>
  <b>Rsvp email phone:</b>
  <%=h @invite.rsvp_email_phone %>
</p>

<p>
  <b>Map:</b>
  <%=h @invite.map %>
</p>

<p>
  <b>Invites additional inserts:</b>
  <%=h @invite.invites_additional_inserts %>
</p>


<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
