<h1>New other_sample_order</h1>

<% form_for(@other_sample_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :mailing_address %><br />
    <%= f.text_field :mailing_address %>
  </p>
  <p>
    <%= f.label :mailing_address_2 %><br />
    <%= f.text_field :mailing_address_2 %>
  </p>
  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :event_date %><br />
    <%= f.date_select :event_date %>
  </p>
  <p>
    <%= f.label :sample_name_1 %><br />
    <%= f.text_field :sample_name_1 %>
  </p>
  <p>
    <%= f.label :sample_name_2 %><br />
    <%= f.text_field :sample_name_2 %>
  </p>
  <p>
    <%= f.label :sample_name_3 %><br />
    <%= f.text_field :sample_name_3 %>
  </p>
  <p>
    <%= f.label :text_paper %><br />
    <%= f.text_field :text_paper %>
  </p>
  <p>
    <%= f.label :text_paper_layer_1 %><br />
    <%= f.text_field :text_paper_layer_1 %>
  </p>
  <p>
    <%= f.label :text_paper_layer_2 %><br />
    <%= f.text_field :text_paper_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_layer_3 %><br />
    <%= f.text_field :text_paper_layer_3 %>
  </p>
  <p>
    <%= f.label :text_paper_2 %><br />
    <%= f.text_field :text_paper_2 %>
  </p>
  <p>
    <%= f.label :text_paper_2_layer_1 %><br />
    <%= f.text_field :text_paper_2_layer_1 %>
  </p>
  <p>
    <%= f.label :text_paper_2_layer_2 %><br />
    <%= f.text_field :text_paper_2_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_2_layer_3 %><br />
    <%= f.text_field :text_paper_2_layer_3 %>
  </p>
  <p>
    <%= f.label :text_paper_3 %><br />
    <%= f.text_field :text_paper_3 %>
  </p>
  <p>
    <%= f.label :text_paper_3_layer_1 %><br />
    <%= f.text_field :text_paper_3_layer_1 %>
  </p>
  <p>
    <%= f.label :text_paper_3_layer_2 %><br />
    <%= f.text_field :text_paper_3_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_3_layer_3 %><br />
    <%= f.text_field :text_paper_3_layer_3 %>
  </p>
  <p>
    <%= f.label :font_color_1 %><br />
    <%= f.text_field :font_color_1 %>
  </p>
  <p>
    <%= f.label :font_color_2 %><br />
    <%= f.text_field :font_color_2 %>
  </p>
  <p>
    <%= f.label :font_color_3 %><br />
    <%= f.text_field :font_color_3 %>
  </p>
  <p>
    <%= f.label :ribbon_color_1 %><br />
    <%= f.text_field :ribbon_color_1 %>
  </p>
  <p>
    <%= f.label :ribbon_color_2 %><br />
    <%= f.text_field :ribbon_color_2 %>
  </p>
  <p>
    <%= f.label :ribbon_color_3 %><br />
    <%= f.text_field :ribbon_color_3 %>
  </p>
  <p>
    <%= f.label :special_requests %><br />
    <%= f.text_area :special_requests %>
  </p>
  <p>
    <%= f.label :samples_quantity %><br />
    <%= f.text_field :samples_quantity %>
  </p>
  <p>
    <%= f.label :samples_quantity_cost %><br />
    <%= f.text_field :samples_quantity_cost %>
  </p>
  <p>
    <%= f.label :paper_samples_quantity %><br />
    <%= f.text_field :paper_samples_quantity %>
  </p>
  <p>
    <%= f.label :paper_samples_quantity_cost %><br />
    <%= f.text_field :paper_samples_quantity_cost %>
  </p>
  <p>
    <%= f.label :paper_swatch_deck_quantity %><br />
    <%= f.text_field :paper_swatch_deck_quantity %>
  </p>
  <p>
    <%= f.label :paper_swatch_deck_quantity_cost %><br />
    <%= f.text_field :paper_swatch_deck_quantity_cost %>
  </p>
  <p>
    <%= f.label :ribbon_swatch_deck_quantity %><br />
    <%= f.text_field :ribbon_swatch_deck_quantity %>
  </p>
  <p>
    <%= f.label :ribbon_swatch_deck_quantity_cost %><br />
    <%= f.text_field :ribbon_swatch_deck_quantity_cost %>
  </p>
  <p>
    <%= f.label :subtotal %><br />
    <%= f.text_field :subtotal %>
  </p>
  <p>
    <%= f.label :gst %><br />
    <%= f.text_field :gst %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', other_sample_orders_path %>
