<p>
  <b>Name:</b>
  <%=h @other_sample_order.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @other_sample_order.mailing_address %>
</p>

<p>
  <b>Mailing address 2:</b>
  <%=h @other_sample_order.mailing_address_2 %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @other_sample_order.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @other_sample_order.email_address %>
</p>

<p>
  <b>Event date:</b>
  <%=h @other_sample_order.event_date %>
</p>

<p>
  <b>Sample name 1:</b>
  <%=h @other_sample_order.sample_name_1 %>
</p>

<p>
  <b>Sample name 2:</b>
  <%=h @other_sample_order.sample_name_2 %>
</p>

<p>
  <b>Sample name 3:</b>
  <%=h @other_sample_order.sample_name_3 %>
</p>

<p>
  <b>Text paper:</b>
  <%=h @other_sample_order.text_paper %>
</p>

<p>
  <b>Text paper layer 1:</b>
  <%=h @other_sample_order.text_paper_layer_1 %>
</p>

<p>
  <b>Text paper layer 2:</b>
  <%=h @other_sample_order.text_paper_layer_2 %>
</p>

<p>
  <b>Text paper layer 3:</b>
  <%=h @other_sample_order.text_paper_layer_3 %>
</p>

<p>
  <b>Text paper 2:</b>
  <%=h @other_sample_order.text_paper_2 %>
</p>

<p>
  <b>Text paper 2 layer 1:</b>
  <%=h @other_sample_order.text_paper_2_layer_1 %>
</p>

<p>
  <b>Text paper 2 layer 2:</b>
  <%=h @other_sample_order.text_paper_2_layer_2 %>
</p>

<p>
  <b>Text paper 2 layer 3:</b>
  <%=h @other_sample_order.text_paper_2_layer_3 %>
</p>

<p>
  <b>Text paper 3:</b>
  <%=h @other_sample_order.text_paper_3 %>
</p>

<p>
  <b>Text paper 3 layer 1:</b>
  <%=h @other_sample_order.text_paper_3_layer_1 %>
</p>

<p>
  <b>Text paper 3 layer 2:</b>
  <%=h @other_sample_order.text_paper_3_layer_2 %>
</p>

<p>
  <b>Text paper 3 layer 3:</b>
  <%=h @other_sample_order.text_paper_3_layer_3 %>
</p>

<p>
  <b>Font color 1:</b>
  <%=h @other_sample_order.font_color_1 %>
</p>

<p>
  <b>Font color 2:</b>
  <%=h @other_sample_order.font_color_2 %>
</p>

<p>
  <b>Font color 3:</b>
  <%=h @other_sample_order.font_color_3 %>
</p>

<p>
  <b>Ribbon color 1:</b>
  <%=h @other_sample_order.ribbon_color_1 %>
</p>

<p>
  <b>Ribbon color 2:</b>
  <%=h @other_sample_order.ribbon_color_2 %>
</p>

<p>
  <b>Ribbon color 3:</b>
  <%=h @other_sample_order.ribbon_color_3 %>
</p>

<p>
  <b>Special requests:</b>
  <%=h @other_sample_order.special_requests %>
</p>

<p>
  <b>Samples quantity:</b>
  <%=h @other_sample_order.samples_quantity %>
</p>

<p>
  <b>Samples quantity cost:</b>
  <%=h @other_sample_order.samples_quantity_cost %>
</p>

<p>
  <b>Paper samples quantity:</b>
  <%=h @other_sample_order.paper_samples_quantity %>
</p>

<p>
  <b>Paper samples quantity cost:</b>
  <%=h @other_sample_order.paper_samples_quantity_cost %>
</p>

<p>
  <b>Paper swatch deck quantity:</b>
  <%=h @other_sample_order.paper_swatch_deck_quantity %>
</p>

<p>
  <b>Paper swatch deck quantity cost:</b>
  <%=h @other_sample_order.paper_swatch_deck_quantity_cost %>
</p>

<p>
  <b>Ribbon swatch deck quantity:</b>
  <%=h @other_sample_order.ribbon_swatch_deck_quantity %>
</p>

<p>
  <b>Ribbon swatch deck quantity cost:</b>
  <%=h @other_sample_order.ribbon_swatch_deck_quantity_cost %>
</p>

<p>
  <b>Subtotal:</b>
  <%=h @other_sample_order.subtotal %>
</p>

<p>
  <b>Gst:</b>
  <%=h @other_sample_order.gst %>
</p>

<p>
  <b>Total:</b>
  <%=h @other_sample_order.total %>
</p>

