<div class="admin_block">
  <h2>Pages</h2>
  <%= edit_list_for @pages %>
  <%= new_link_for :page %>
  </div>
<div class="admin_block">
  <h2>Products</h2>
  <%= edit_list_for @products %>
  <%= new_link_for :product %>
</div>
<div class="admin_block">
  <h2>Posts</h2>
  <%= edit_list_for @posts %>
  <%= new_link_for :post %>
</div>
<div class="admin_block">
  <h2>Category</h2>
  <%= edit_list_for @categories %>
  <%= new_link_for :category %>
</div>
<div class="admin_block">
  <h2>User</h2>
  <%= edit_list_for @users %>
  <%= new_link_for :user %>
</div>
<div class="admin_block">
  <h2>Forms</h2>
  <p>
    <%= link_to 'Occasion Order Form', new_occasion_path %><br>
    <%= link_to 'Other Sample Order Form', new_other_sample_path %><br>
    <%= link_to 'Program Order Form', new_program_path %><br>
    <%= link_to 'Thank You Order Form', new_thank_you_path %><br>
    <%= link_to 'Wedding Sample Order', new_wedding_sample_path %><br>
    <%= link_to 'Favour Tag Label Order', new_favour_tag_label_path %><br>
    <%= link_to 'Invite Order', new_invite_path %><br>
    <%= link_to 'Save The Date Order', new_save_date_path %><br>
  </p>
</div>