<h2>Pages</h2>
<%= edit_list_for @pages %>
<%= new_link_for :page %>
<h2>Products</h2>
<%= edit_list_for @products %>
<%= new_link_for :product %>
<h2>Invites</h2>
<%= edit_list_for @invites %>
<%= new_link_for :invite %>
<h2>Posts</h2>
<%= edit_list_for @posts %>
<%= new_link_for :post %>
<h2>Category</h2>
<%= edit_list_for @categories %>
<%= new_link_for :category %>
<h2>User</h2>
<%= edit_list_for @users %>
<%= new_link_for :user %>
