<h1><span>ORDER FORM</span> – Programs</h1>

<% form_for(@program) do |f| %>
  <%= f.error_messages %>
<fieldset>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :mailing_address %>
    <%= f.text_field :mailing_address %>
  </p>
  <p>
    <label>&nbsp;</label>
    <%= f.text_field :mailing_address_2 %>
  </p>
  <p>
    <%= f.label :shipping_address %>
    <%= f.text_field :shipping_address %>
  </p>
  <p>
    <%= f.label :shipping_address_2, "(if different)" %>
    <%= f.text_field :shipping_address_2 %>
  </p>
  <p>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </p>
  <p class="date_select">
    <%= f.label :wedding_date %>
    <%= f.date_select :wedding_date %>
  </p>
  <p>
    <%= f.label :brides_name %>
    <%= f.text_field :brides_name %>
  </p>
  <p>
    <%= f.label :grooms_name %>
    <%= f.text_field :grooms_name %>
  </p>
  <p class="fullwidth">
    <%= f.label :design_contact_number, "Did you order you invitations through us? <br>If so, please indicate design and/or your contract number so we can match the fonts." %>
    <%= f.text_field :design_contact_number, :class => 'numeric' %>
  </p>
  
  <p>
    <%= f.label :design_name %>
    <%= f.text_field :design_name %>
  </p>
  <p>
    <%= f.label :quantity, "Quantity required:" %>
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :ordered_sample, "Did you order a sample?" %>
    <%= f.text_field :ordered_sample %>
  </p>
  <p>
    <%= f.label :sample_number, "If so, indicate sample number from your quote sheet:" %>
    <%= f.text_field :sample_number %>
  </p>
  <h5>Paper Selection</h5>
  <p>
    <%= f.label :text_paper %>
    <%= f.text_field :text_paper %>
  </p>
  <p>
    <%= f.label :text_paper_layer_2, "Layer 2:" %>
    <%= f.text_field :text_paper_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_layer_3, "Layer 3:" %>
    <%= f.text_field :text_paper_layer_3 %>
  </p>
  <p>
    <%= f.label :text_paper_layer_4, "Layer 4:" %>
    <%= f.text_field :text_paper_layer_4 %>
  </p>
  <p>
    <%= f.label :font_color, "Font colour/s:" %>
    <%= f.text_field :font_color %>
  </p>
  <p>
    <%= f.label :ribbon_color, "Ribbon colour/s:" %>
    <%= f.text_field :ribbon_color %>
  </p>
  <p class="textarea">
    <%= f.label :special_requests, "Modifications/special requests. Please indicate the sample number. (charges may apply)" %>
    <%= f.text_area :special_requests %>
    
  </p>



  <h5>Notes:</h5>
  <ol>
  <li>Once we receive your order we will send you a contract with estimated timelines and deposit requirements (50% payable by Visa or MasterCard). </li>
  <li>We will send you PDF text proofs within 1 week of receiving your order.</li>
  <li>Once you approve all text proofs it will take 2 – 4 weeks to complete your order.</li>
  <li>The remaining 50% is due when your order is shipped. </li>
  </ol>
  <p class="fullwidth">Don't hesitate to contact us if you have any questions. <br>Thank you and we look forward to working with you!</p>
</fieldset>

  
  <p class="submit">
    <%= orders_submit_button %>
  </p>
<% end %>

<%= link_to 'Back', programs_path %>
