<p>
  <b>Name:</b>
  <%=h @program.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @program.mailing_address %>
</p>

<p>
  <b>Mailing address 2:</b>
  <%=h @program.mailing_address_2 %>
</p>

<p>
  <b>Shipping address:</b>
  <%=h @program.shipping_address %>
</p>

<p>
  <b>Shipping address 2:</b>
  <%=h @program.shipping_address_2 %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @program.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @program.email_address %>
</p>

<p>
  <b>Wedding date:</b>
  <%=h @program.wedding_date %>
</p>

<p>
  <b>Brides name:</b>
  <%=h @program.brides_name %>
</p>

<p>
  <b>Grooms name:</b>
  <%=h @program.grooms_name %>
</p>

<p>
  <b>Design contact number:</b>
  <%=h @program.design_contact_number %>
</p>

<p>
  <b>Design name:</b>
  <%=h @program.design_name %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @program.quantity %>
</p>

<p>
  <b>Ordered sample:</b>
  <%=h @program.ordered_sample %>
</p>

<p>
  <b>Sample number:</b>
  <%=h @program.sample_number %>
</p>

<p>
  <b>Text paper:</b>
  <%=h @program.text_paper %>
</p>

<p>
  <b>Text paper layer 2:</b>
  <%=h @program.text_paper_layer_2 %>
</p>

<p>
  <b>Text paper layer 3:</b>
  <%=h @program.text_paper_layer_3 %>
</p>

<p>
  <b>Text paper layer 4:</b>
  <%=h @program.text_paper_layer_4 %>
</p>

<p>
  <b>Font color:</b>
  <%=h @program.font_color %>
</p>

<p>
  <b>Ribbon color:</b>
  <%=h @program.ribbon_color %>
</p>

<p>
  <b>Special requests:</b>
  <%=h @program.special_requests %>
</p>

<p>
  <b>Program text:</b>
  <%=h @program.program_text %>
</p>

