<h1>Editing invite_order</h1>

<% form_for(@invite_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name %>
  </p>
  <p>
    <%= f.label :mailing_address %><br />
    <%= f.text_field :mailing_address %>
  </p>
  <p>
    <%= f.label :mailing_address_2 %><br />
    <%= f.text_field :mailing_address_2 %>
  </p>
  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :design_name %><br />
    <%= f.text_field :design_name %>
  </p>
  <p>
    <%= f.label :quantity_required %><br />
    <%= f.text_field :quantity_required %>
  </p>
  <p>
    <%= f.label :ordered_sample %><br />
    <%= f.check_box :ordered_sample %>
  </p>
  <p>
    <%= f.label :text_paper %><br />
    <%= f.text_field :text_paper %>
  </p>
  <p>
    <%= f.label :paper_layer_2 %><br />
    <%= f.text_field :paper_layer_2 %>
  </p>
  <p>
    <%= f.label :paper_layer_3 %><br />
    <%= f.text_field :paper_layer_3 %>
  </p>
  <p>
    <%= f.label :paper_layer_4 %><br />
    <%= f.text_field :paper_layer_4 %>
  </p>
  <p>
    <%= f.label :font_color %><br />
    <%= f.text_field :font_color %>
  </p>
  <p>
    <%= f.label :ribbon_color %><br />
    <%= f.text_field :ribbon_color %>
  </p>
  <p>
    <%= f.label :special_requests %><br />
    <%= f.text_area :special_requests %>
  </p>
  <p>
    <%= f.label :invites_design_name %><br />
    <%= f.text_field :invites_design_name %>
  </p>
  <p>
    <%= f.label :invites_quantity_required %><br />
    <%= f.text_field :invites_quantity_required %>
  </p>
  <p>
    <%= f.label :invites_sample_ordered %><br />
    <%= f.check_box :invites_sample_ordered %>
  </p>
  <p>
    <%= f.label :invites_text_paper %><br />
    <%= f.text_field :invites_text_paper %>
  </p>
  <p>
    <%= f.label :invites_layer_2 %><br />
    <%= f.text_field :invites_layer_2 %>
  </p>
  <p>
    <%= f.label :invites_layer_3 %><br />
    <%= f.text_field :invites_layer_3 %>
  </p>
  <p>
    <%= f.label :invites_layer_4 %><br />
    <%= f.text_field :invites_layer_4 %>
  </p>
  <p>
    <%= f.label :invites_font_color %><br />
    <%= f.text_field :invites_font_color %>
  </p>
  <p>
    <%= f.label :invites_ribbon_color %><br />
    <%= f.text_field :invites_ribbon_color %>
  </p>
  <p>
    <%= f.label :reply_cards_style %><br />
    <%= f.text_field :reply_cards_style %>
  </p>
  <p>
    <%= f.label :map %><br />
    <%= f.check_box :map %>
  </p>
  <p>
    <%= f.label :hotel_info %><br />
    <%= f.text_field :hotel_info %>
  </p>
  <p>
    <%= f.label :address_labels %><br />
    <%= f.check_box :address_labels %>
  </p>
  <p>
    <%= f.label :coloured_envelopes %><br />
    <%= f.check_box :coloured_envelopes %>
  </p>
  <p>
    <%= f.label :lined_envelopes %><br />
    <%= f.check_box :lined_envelopes %>
  </p>
  <p>
    <%= f.label :double_envelopes %><br />
    <%= f.check_box :double_envelopes %>
  </p>
  <p>
    <%= f.label :invites_special_requests %><br />
    <%= f.text_area :invites_special_requests %>
  </p>
  <p>
    <%= f.label :wedding_date %><br />
    <%= f.date_select :wedding_date %>
  </p>
  <p>
    <%= f.label :brides_name %><br />
    <%= f.text_field :brides_name %>
  </p>
  <p>
    <%= f.label :grooms_name %><br />
    <%= f.text_field :grooms_name %>
  </p>
  <p>
    <%= f.label :brides_parents %><br />
    <%= f.text_field :brides_parents %>
  </p>
  <p>
    <%= f.label :grooms_parents %><br />
    <%= f.text_field :grooms_parents %>
  </p>
  <p>
    <%= f.label :ceremony_location %><br />
    <%= f.text_field :ceremony_location %>
  </p>
  <p>
    <%= f.label :reception_location %><br />
    <%= f.text_field :reception_location %>
  </p>
  <p>
    <%= f.label :cocktails_time %><br />
    <%= f.datetime_select :cocktails_time %>
  </p>
  <p>
    <%= f.label :dinner_time %><br />
    <%= f.datetime_select :dinner_time %>
  </p>
  <p>
    <%= f.label :dance_time %><br />
    <%= f.datetime_select :dance_time %>
  </p>
  <p>
    <%= f.label :other_time %><br />
    <%= f.text_field :other_time %>
  </p>
  <p>
    <%= f.label :save_the_date_verse %><br />
    <%= f.text_area :save_the_date_verse %>
  </p>
  <p>
    <%= f.label :invitation_verse %><br />
    <%= f.text_area :invitation_verse %>
  </p>
  <p>
    <%= f.label :rsvp_verse %><br />
    <%= f.text_area :rsvp_verse %>
  </p>
  <p>
    <%= f.label :rsvp_envelope_address %><br />
    <%= f.text_area :rsvp_envelope_address %>
  </p>
  <p>
    <%= f.label :rsvp_email_phone %><br />
    <%= f.text_field :rsvp_email_phone %>
  </p>
  <p>
    <%= f.label :map %><br />
    <%= f.text_field :map %>
  </p>
  <p>
    <%= f.label :invites_additional_inserts %><br />
    <%= f.text_area :invites_additional_inserts %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @invite_order %> |
<%= link_to 'Back', invite_orders_path %>
