<p>
  <b>Contact name:</b>
  <%=h @invite_order.contact_name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @invite_order.mailing_address %>
</p>

<p>
  <b>Mailing address 2:</b>
  <%=h @invite_order.mailing_address_2 %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @invite_order.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @invite_order.email_address %>
</p>

<p>
  <b>Design name:</b>
  <%=h @invite_order.design_name %>
</p>

<p>
  <b>Quantity required:</b>
  <%=h @invite_order.quantity_required %>
</p>

<p>
  <b>Ordered sample:</b>
  <%=h @invite_order.ordered_sample %>
</p>

<p>
  <b>Text paper:</b>
  <%=h @invite_order.text_paper %>
</p>

<p>
  <b>Paper layer 2:</b>
  <%=h @invite_order.paper_layer_2 %>
</p>

<p>
  <b>Paper layer 3:</b>
  <%=h @invite_order.paper_layer_3 %>
</p>

<p>
  <b>Paper layer 4:</b>
  <%=h @invite_order.paper_layer_4 %>
</p>

<p>
  <b>Font color:</b>
  <%=h @invite_order.font_color %>
</p>

<p>
  <b>Ribbon color:</b>
  <%=h @invite_order.ribbon_color %>
</p>

<p>
  <b>Special requests:</b>
  <%=h @invite_order.special_requests %>
</p>

<p>
  <b>Invites design name:</b>
  <%=h @invite_order.invites_design_name %>
</p>

<p>
  <b>Invites quantity required:</b>
  <%=h @invite_order.invites_quantity_required %>
</p>

<p>
  <b>Invites sample ordered:</b>
  <%=h @invite_order.invites_sample_ordered %>
</p>

<p>
  <b>Invites text paper:</b>
  <%=h @invite_order.invites_text_paper %>
</p>

<p>
  <b>Invites layer 2:</b>
  <%=h @invite_order.invites_layer_2 %>
</p>

<p>
  <b>Invites layer 3:</b>
  <%=h @invite_order.invites_layer_3 %>
</p>

<p>
  <b>Invites layer 4:</b>
  <%=h @invite_order.invites_layer_4 %>
</p>

<p>
  <b>Invites font color:</b>
  <%=h @invite_order.invites_font_color %>
</p>

<p>
  <b>Invites ribbon color:</b>
  <%=h @invite_order.invites_ribbon_color %>
</p>

<p>
  <b>Reply cards style:</b>
  <%=h @invite_order.reply_cards_style %>
</p>

<p>
  <b>Map:</b>
  <%=h @invite_order.map %>
</p>

<p>
  <b>Hotel info:</b>
  <%=h @invite_order.hotel_info %>
</p>

<p>
  <b>Address labels:</b>
  <%=h @invite_order.address_labels %>
</p>

<p>
  <b>Coloured envelopes:</b>
  <%=h @invite_order.coloured_envelopes %>
</p>

<p>
  <b>Lined envelopes:</b>
  <%=h @invite_order.lined_envelopes %>
</p>

<p>
  <b>Double envelopes:</b>
  <%=h @invite_order.double_envelopes %>
</p>

<p>
  <b>Invites special requests:</b>
  <%=h @invite_order.invites_special_requests %>
</p>

<p>
  <b>Wedding date:</b>
  <%=h @invite_order.wedding_date %>
</p>

<p>
  <b>Brides name:</b>
  <%=h @invite_order.brides_name %>
</p>

<p>
  <b>Grooms name:</b>
  <%=h @invite_order.grooms_name %>
</p>

<p>
  <b>Brides parents:</b>
  <%=h @invite_order.brides_parents %>
</p>

<p>
  <b>Grooms parents:</b>
  <%=h @invite_order.grooms_parents %>
</p>

<p>
  <b>Ceremony location:</b>
  <%=h @invite_order.ceremony_location %>
</p>

<p>
  <b>Reception location:</b>
  <%=h @invite_order.reception_location %>
</p>

<p>
  <b>Cocktails time:</b>
  <%=h @invite_order.cocktails_time %>
</p>

<p>
  <b>Dinner time:</b>
  <%=h @invite_order.dinner_time %>
</p>

<p>
  <b>Dance time:</b>
  <%=h @invite_order.dance_time %>
</p>

<p>
  <b>Other time:</b>
  <%=h @invite_order.other_time %>
</p>

<p>
  <b>Save the date verse:</b>
  <%=h @invite_order.save_the_date_verse %>
</p>

<p>
  <b>Invitation verse:</b>
  <%=h @invite_order.invitation_verse %>
</p>

<p>
  <b>Rsvp verse:</b>
  <%=h @invite_order.rsvp_verse %>
</p>

<p>
  <b>Rsvp envelope address:</b>
  <%=h @invite_order.rsvp_envelope_address %>
</p>

<p>
  <b>Rsvp email phone:</b>
  <%=h @invite_order.rsvp_email_phone %>
</p>

<p>
  <b>Map:</b>
  <%=h @invite_order.map %>
</p>

<p>
  <b>Invites additional inserts:</b>
  <%=h @invite_order.invites_additional_inserts %>
</p>


<%= link_to 'Edit', edit_invite_order_path(@invite_order) %> |
<%= link_to 'Back', invite_orders_path %>
