<p>
  <b>Name:</b>
  <%=h @favour_tag_label_order.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @favour_tag_label_order.mailing_address %>
</p>

<p>
  <b>Shipping address:</b>
  <%=h @favour_tag_label_order.shipping_address %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @favour_tag_label_order.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @favour_tag_label_order.email_address %>
</p>

<p>
  <b>Wedding date:</b>
  <%=h @favour_tag_label_order.wedding_date %>
</p>

<p>
  <b>Brides name:</b>
  <%=h @favour_tag_label_order.brides_name %>
</p>

<p>
  <b>Grooms name:</b>
  <%=h @favour_tag_label_order.grooms_name %>
</p>

<p>
  <b>Ordered invites:</b>
  <%=h @favour_tag_label_order.ordered_invites %>
</p>

<p>
  <b>Item 1:</b>
  <%=h @favour_tag_label_order.item_1 %>
</p>

<p>
  <b>Item 1 quantity:</b>
  <%=h @favour_tag_label_order.item_1_quantity %>
</p>

<p>
  <b>Item 2:</b>
  <%=h @favour_tag_label_order.item_2 %>
</p>

<p>
  <b>Item 2 quantity:</b>
  <%=h @favour_tag_label_order.item_2_quantity %>
</p>

<p>
  <b>Item 3:</b>
  <%=h @favour_tag_label_order.item_3 %>
</p>

<p>
  <b>Item 3 quantity:</b>
  <%=h @favour_tag_label_order.item_3_quantity %>
</p>

<p>
  <b>Item 4:</b>
  <%=h @favour_tag_label_order.item_4 %>
</p>

<p>
  <b>Item 4 quantity:</b>
  <%=h @favour_tag_label_order.item_4_quantity %>
</p>

<p>
  <b>Item 5:</b>
  <%=h @favour_tag_label_order.item_5 %>
</p>

<p>
  <b>Item 5 quantity:</b>
  <%=h @favour_tag_label_order.item_5_quantity %>
</p>

<p>
  <b>Font colours:</b>
  <%=h @favour_tag_label_order.font_colours %>
</p>

<p>
  <b>Special requests:</b>
  <%=h @favour_tag_label_order.special_requests %>
</p>

<p>
  <b>Information:</b>
  <%=h @favour_tag_label_order.information %>
</p>


<%= link_to 'Edit', edit_favour_tag_label_order_path(@favour_tag_label_order) %> |
<%= link_to 'Back', favour_tag_label_orders_path %>
