<p>
  <b>Name:</b>
  <%=h @thank_you_order_form.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @thank_you_order_form.mailing_address %>
</p>

<p>
  <b>Mailing address 2:</b>
  <%=h @thank_you_order_form.mailing_address_2 %>
</p>

<p>
  <b>Shipping address:</b>
  <%=h @thank_you_order_form.shipping_address %>
</p>

<p>
  <b>Shipping address 2:</b>
  <%=h @thank_you_order_form.shipping_address_2 %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @thank_you_order_form.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @thank_you_order_form.email_address %>
</p>

<p>
  <b>Wedding date:</b>
  <%=h @thank_you_order_form.wedding_date %>
</p>

<p>
  <b>Brides name:</b>
  <%=h @thank_you_order_form.brides_name %>
</p>

<p>
  <b>Grooms name:</b>
  <%=h @thank_you_order_form.grooms_name %>
</p>

<p>
  <b>Design contact number:</b>
  <%=h @thank_you_order_form.design_contact_number %>
</p>

<p>
  <b>Design name:</b>
  <%=h @thank_you_order_form.design_name %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @thank_you_order_form.quantity %>
</p>

<p>
  <b>Ordered sample:</b>
  <%=h @thank_you_order_form.ordered_sample %>
</p>

<p>
  <b>Sample number:</b>
  <%=h @thank_you_order_form.sample_number %>
</p>

<p>
  <b>Text paper:</b>
  <%=h @thank_you_order_form.text_paper %>
</p>

<p>
  <b>Text paper layer 2:</b>
  <%=h @thank_you_order_form.text_paper_layer_2 %>
</p>

<p>
  <b>Text paper layer 3:</b>
  <%=h @thank_you_order_form.text_paper_layer_3 %>
</p>

<p>
  <b>Text paper layer 4:</b>
  <%=h @thank_you_order_form.text_paper_layer_4 %>
</p>

<p>
  <b>Font color:</b>
  <%=h @thank_you_order_form.font_color %>
</p>

<p>
  <b>Ribbon color:</b>
  <%=h @thank_you_order_form.ribbon_color %>
</p>

<p>
  <b>Special requests:</b>
  <%=h @thank_you_order_form.special_requests %>
</p>

<p>
  <b>Card text:</b>
  <%=h @thank_you_order_form.card_text %>
</p>


