<h1>Listing occasion_order_forms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mailing address</th>
    <th>Mailing address 2</th>
    <th>Shipping address</th>
    <th>Shipping address 2</th>
    <th>Phone number</th>
    <th>Email address</th>
    <th>Design name</th>
    <th>Quantity</th>
    <th>Ordered sample</th>
    <th>Sample number</th>
    <th>Text paper</th>
    <th>Text paper layer 2</th>
    <th>Text paper layer 3</th>
    <th>Text paper layer 4</th>
    <th>Font color</th>
    <th>Ribbon color</th>
    <th>Print return</th>
    <th>Sealing sticker</th>
    <th>Colored envelope</th>
    <th>Lined envelope</th>
    <th>Double envelope</th>
    <th>Verse information</th>
    <th>Type of event</th>
    <th>Rsvp contact</th>
  </tr>

<% for occasion_order_form in @occasion_order_forms %>
  <tr>
    <td><%=h occasion_order_form.name %></td>
    <td><%=h occasion_order_form.mailing_address %></td>
    <td><%=h occasion_order_form.mailing_address_2 %></td>
    <td><%=h occasion_order_form.shipping_address %></td>
    <td><%=h occasion_order_form.shipping_address_2 %></td>
    <td><%=h occasion_order_form.phone_number %></td>
    <td><%=h occasion_order_form.email_address %></td>
    <td><%=h occasion_order_form.design_name %></td>
    <td><%=h occasion_order_form.quantity %></td>
    <td><%=h occasion_order_form.ordered_sample %></td>
    <td><%=h occasion_order_form.sample_number %></td>
    <td><%=h occasion_order_form.text_paper %></td>
    <td><%=h occasion_order_form.text_paper_layer_2 %></td>
    <td><%=h occasion_order_form.text_paper_layer_3 %></td>
    <td><%=h occasion_order_form.text_paper_layer_4 %></td>
    <td><%=h occasion_order_form.font_color %></td>
    <td><%=h occasion_order_form.ribbon_color %></td>
    <td><%=h occasion_order_form.print_return %></td>
    <td><%=h occasion_order_form.sealing_sticker %></td>
    <td><%=h occasion_order_form.colored_envelope %></td>
    <td><%=h occasion_order_form.lined_envelope %></td>
    <td><%=h occasion_order_form.double_envelope %></td>
    <td><%=h occasion_order_form.verse_information %></td>
    <td><%=h occasion_order_form.type_of_event %></td>
    <td><%=h occasion_order_form.rsvp_contact %></td>
    <td><%= link_to 'Show', occasion_order_form %></td>
    <td><%= link_to 'Edit', edit_occasion_order_form_path(occasion_order_form) %></td>
    <td><%= link_to 'Destroy', occasion_order_form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New occasion_order_form', new_occasion_order_form_path %>
