<p>
  <b>Name:</b>
  <%=h @occasion_order_form.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @occasion_order_form.mailing_address %>
</p>

<p>
  <b>Mailing address 2:</b>
  <%=h @occasion_order_form.mailing_address_2 %>
</p>

<p>
  <b>Shipping address:</b>
  <%=h @occasion_order_form.shipping_address %>
</p>

<p>
  <b>Shipping address 2:</b>
  <%=h @occasion_order_form.shipping_address_2 %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @occasion_order_form.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @occasion_order_form.email_address %>
</p>

<p>
  <b>Design name:</b>
  <%=h @occasion_order_form.design_name %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @occasion_order_form.quantity %>
</p>

<p>
  <b>Ordered sample:</b>
  <%=h @occasion_order_form.ordered_sample %>
</p>

<p>
  <b>Sample number:</b>
  <%=h @occasion_order_form.sample_number %>
</p>

<p>
  <b>Text paper:</b>
  <%=h @occasion_order_form.text_paper %>
</p>

<p>
  <b>Text paper layer 2:</b>
  <%=h @occasion_order_form.text_paper_layer_2 %>
</p>

<p>
  <b>Text paper layer 3:</b>
  <%=h @occasion_order_form.text_paper_layer_3 %>
</p>

<p>
  <b>Text paper layer 4:</b>
  <%=h @occasion_order_form.text_paper_layer_4 %>
</p>

<p>
  <b>Font color:</b>
  <%=h @occasion_order_form.font_color %>
</p>

<p>
  <b>Ribbon color:</b>
  <%=h @occasion_order_form.ribbon_color %>
</p>

<p>
  <b>Print return:</b>
  <%=h @occasion_order_form.print_return %>
</p>

<p>
  <b>Sealing sticker:</b>
  <%=h @occasion_order_form.sealing_sticker %>
</p>

<p>
  <b>Colored envelope:</b>
  <%=h @occasion_order_form.colored_envelope %>
</p>

<p>
  <b>Lined envelope:</b>
  <%=h @occasion_order_form.lined_envelope %>
</p>

<p>
  <b>Double envelope:</b>
  <%=h @occasion_order_form.double_envelope %>
</p>

<p>
  <b>Verse information:</b>
  <%=h @occasion_order_form.verse_information %>
</p>

<p>
  <b>Type of event:</b>
  <%=h @occasion_order_form.type_of_event %>
</p>

<p>
  <b>Rsvp contact:</b>
  <%=h @occasion_order_form.rsvp_contact %>
</p>


<%= link_to 'Edit', edit_occasion_order_form_path(@occasion_order_form) %> |
<%= link_to 'Back', occasion_order_forms_path %>
