<p>
  <b>Name:</b>
  <%=h @wedding_sample.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @wedding_sample.mailing_address %>
</p>

<p>
  <b>Mailing address 2:</b>
  <%=h @wedding_sample.mailing_address_2 %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @wedding_sample.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @wedding_sample.email_address %>
</p>

<p>
  <b>Event date:</b>
  <%=h @wedding_sample.event_date %>
</p>

<p>
  <b>Sample name 1:</b>
  <%=h @wedding_sample.sample_name_1 %>
</p>

<p>
  <b>Sample name 2:</b>
  <%=h @wedding_sample.sample_name_2 %>
</p>

<p>
  <b>Sample name 3:</b>
  <%=h @wedding_sample.sample_name_3 %>
</p>

<p>
  <b>Text paper:</b>
  <%=h @wedding_sample.text_paper %>
</p>

<p>
  <b>Text paper layer 1:</b>
  <%=h @wedding_sample.text_paper_layer_1 %>
</p>

<p>
  <b>Text paper layer 2:</b>
  <%=h @wedding_sample.text_paper_layer_2 %>
</p>

<p>
  <b>Text paper layer 3:</b>
  <%=h @wedding_sample.text_paper_layer_3 %>
</p>

<p>
  <b>Text paper 2:</b>
  <%=h @wedding_sample.text_paper_2 %>
</p>

<p>
  <b>Text paper 2 layer 1:</b>
  <%=h @wedding_sample.text_paper_2_layer_1 %>
</p>

<p>
  <b>Text paper 2 layer 2:</b>
  <%=h @wedding_sample.text_paper_2_layer_2 %>
</p>

<p>
  <b>Text paper 2 layer 3:</b>
  <%=h @wedding_sample.text_paper_2_layer_3 %>
</p>

<p>
  <b>Text paper 3:</b>
  <%=h @wedding_sample.text_paper_3 %>
</p>

<p>
  <b>Text paper 3 layer 1:</b>
  <%=h @wedding_sample.text_paper_3_layer_1 %>
</p>

<p>
  <b>Text paper 3 layer 2:</b>
  <%=h @wedding_sample.text_paper_3_layer_2 %>
</p>

<p>
  <b>Text paper 3 layer 3:</b>
  <%=h @wedding_sample.text_paper_3_layer_3 %>
</p>

<p>
  <b>Font color 1:</b>
  <%=h @wedding_sample.font_color_1 %>
</p>

<p>
  <b>Font color 2:</b>
  <%=h @wedding_sample.font_color_2 %>
</p>

<p>
  <b>Font color 3:</b>
  <%=h @wedding_sample.font_color_3 %>
</p>

<p>
  <b>Ribbon color 1:</b>
  <%=h @wedding_sample.ribbon_color_1 %>
</p>

<p>
  <b>Ribbon color 2:</b>
  <%=h @wedding_sample.ribbon_color_2 %>
</p>

<p>
  <b>Ribbon color 3:</b>
  <%=h @wedding_sample.ribbon_color_3 %>
</p>

<p>
  <b>Reply card style:</b>
  <%=h @wedding_sample.reply_card_style %>
</p>

<p>
  <b>Paper sample color 1:</b>
  <%=h @wedding_sample.paper_sample_color_1 %>
</p>

<p>
  <b>Paper sample color 2:</b>
  <%=h @wedding_sample.paper_sample_color_2 %>
</p>

<p>
  <b>Paper sample color 3:</b>
  <%=h @wedding_sample.paper_sample_color_3 %>
</p>

<p>
  <b>Paper sample color 4:</b>
  <%=h @wedding_sample.paper_sample_color_4 %>
</p>

<p>
  <b>Special requests:</b>
  <%=h @wedding_sample.special_requests %>
</p>

<p>
  <b>Invites quantity:</b>
  <%=h @wedding_sample.invites_quantity %>
</p>

<p>
  <b>Invites quantity cost:</b>
  <%=h @wedding_sample.invites_quantity_cost %>
</p>

<p>
  <b>Save the date quantity:</b>
  <%=h @wedding_sample.save_the_date_quantity %>
</p>

<p>
  <b>Save the date quantity cost:</b>
  <%=h @wedding_sample.save_the_date_quantity_cost %>
</p>

<p>
  <b>Thank you cards quantity:</b>
  <%=h @wedding_sample.thank_you_cards_quantity %>
</p>

<p>
  <b>Thank you cards quantity cost:</b>
  <%=h @wedding_sample.thank_you_cards_quantity_cost %>
</p>

<p>
  <b>Programs quantity:</b>
  <%=h @wedding_sample.programs_quantity %>
</p>

<p>
  <b>Programs quantity cost:</b>
  <%=h @wedding_sample.programs_quantity_cost %>
</p>

<p>
  <b>Paper samples quantity:</b>
  <%=h @wedding_sample.paper_samples_quantity %>
</p>

<p>
  <b>Paper samples quantity cost:</b>
  <%=h @wedding_sample.paper_samples_quantity_cost %>
</p>

<p>
  <b>Paper swatch deck quantity:</b>
  <%=h @wedding_sample.paper_swatch_deck_quantity %>
</p>

<p>
  <b>Paper swatch deck quantity cost:</b>
  <%=h @wedding_sample.paper_swatch_deck_quantity_cost %>
</p>

<p>
  <b>Ribbon swatch deck quantity:</b>
  <%=h @wedding_sample.ribbon_swatch_deck_quantity %>
</p>

<p>
  <b>Ribbon swatch deck quantity cost:</b>
  <%=h @wedding_sample.ribbon_swatch_deck_quantity_cost %>
</p>

<p>
  <b>Subtotal:</b>
  <%=h @wedding_sample.subtotal %>
</p>

<p>
  <b>Gst:</b>
  <%=h @wedding_sample.gst %>
</p>

<p>
  <b>Total:</b>
  <%=h @wedding_sample.total %>
</p>


