<p>
  <b>Name:</b>
  <%=h @favour_tag_label.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @favour_tag_label.mailing_address %>
</p>

<p>
  <b>Shipping address:</b>
  <%=h @favour_tag_label.shipping_address %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @favour_tag_label.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @favour_tag_label.email_address %>
</p>

<p>
  <b>Wedding date:</b>
  <%=h @favour_tag_label.wedding_date %>
</p>

<p>
  <b>Brides name:</b>
  <%=h @favour_tag_label.brides_name %>
</p>

<p>
  <b>Grooms name:</b>
  <%=h @favour_tag_label.grooms_name %>
</p>

<p>
  <b>Ordered invites:</b>
  <%=h @favour_tag_label.ordered_invites %>
</p>

<p>
  <b>Item 1:</b>
  <%=h @favour_tag_label.item_1 %>
</p>

<p>
  <b>Item 1 quantity:</b>
  <%=h @favour_tag_label.item_1_quantity %>
</p>

<p>
  <b>Item 2:</b>
  <%=h @favour_tag_label.item_2 %>
</p>

<p>
  <b>Item 2 quantity:</b>
  <%=h @favour_tag_label.item_2_quantity %>
</p>

<p>
  <b>Item 3:</b>
  <%=h @favour_tag_label.item_3 %>
</p>

<p>
  <b>Item 3 quantity:</b>
  <%=h @favour_tag_label.item_3_quantity %>
</p>

<p>
  <b>Item 4:</b>
  <%=h @favour_tag_label.item_4 %>
</p>

<p>
  <b>Item 4 quantity:</b>
  <%=h @favour_tag_label.item_4_quantity %>
</p>

<p>
  <b>Item 5:</b>
  <%=h @favour_tag_label.item_5 %>
</p>

<p>
  <b>Item 5 quantity:</b>
  <%=h @favour_tag_label.item_5_quantity %>
</p>

<p>
  <b>Font colours:</b>
  <%=h @favour_tag_label.font_colours %>
</p>

<p>
  <b>Special requests:</b>
  <%=h @favour_tag_label.special_requests %>
</p>

<p>
  <b>Information:</b>
  <%=h @favour_tag_label.information %>
</p>


<%= link_to 'Edit', edit_favour_tag_label_path(@favour_tag_label) %> |
<%= link_to 'Back', favour_tag_labels_path %>
