<h1>New save_date</h1>

<% form_for(@save_date) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :mailing_address %>
    <%= f.text_field :mailing_address %>
  </p>
  <p>
    <%= f.label :mailing_address_2, "" %>
    <%= f.text_field :mailing_address_2 %>
  </p>
  <p>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :wedding_date %>
    <%= f.date_select :wedding_date %>
  </p>
  
  <p>
    <%= f.label :sample_name, "Sample name (1):" %>
    <%= f.text_field :sample_name %>
  </p>
  <p>
    <%= f.label :sample_name_2, "Sample name (2):" %>
    <%= f.text_field :sample_name_2 %>
  </p>
  <p>
    <%= f.label :sample_name_3, "Sample name (3):" %>
    <%= f.text_field :sample_name_3 %>
  </p>
  <p>Paper Selection</p>
  <p>
    <%= f.label :text_paper_1, "(1) Text paper:" %>
    <%= f.text_field :text_paper_1 %>
  </p>
  <p>
    <%= f.label :text_paper_1_layer_1, "Layer 1:" %>
    <%= f.text_field :text_paper_1_layer_1 %>
  </p>
  <p>
    <%= f.label :text_paper_1_layer_2, "Layer 2:" %>
    <%= f.text_field :text_paper_1_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_1_layer_3, "Layer 3:" %>
    <%= f.text_field :text_paper_1_layer_3 %>
  </p>
  <p>
    <%= f.label :text_paper_2, "(2) Text paper:" %>
    <%= f.text_field :text_paper_2 %>
  </p>
  <p>
    <%= f.label :text_paper_2_layer_1, "Layer 1:" %>
    <%= f.text_field :text_paper_2_layer_1 %>
  </p>
  <p>
    <%= f.label :text_paper_2_layer_2, "Layer 2:" %>
    <%= f.text_field :text_paper_2_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_2_layer_3, "Layer 3:" %>
    <%= f.text_field :text_paper_2_layer_3 %>
  </p>
  <p>
    <%= f.label :text_paper_3, "(3) Text paper:" %>
    <%= f.text_field :text_paper_3 %>
  </p>
  <p>
    <%= f.label :text_paper_3_layer_1 , "Layer 1:"%>
    <%= f.text_field :text_paper_3_layer_1 %>
  </p>
  <p>
    <%= f.label :text_paper_3_layer_2, "Layer 2:" %>
    <%= f.text_field :text_paper_3_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_3_layer_3, "Layer 3:" %>
    <%= f.text_field :text_paper_3_layer_3 %>
  </p>
  <p>
    <%= f.label :font_color_1, "Font colour (1):" %>
    <%= f.text_field :font_color_1 %>
  </p>
  <p>
    <%= f.label :font_color_2, "Font colour (2):" %>
    <%= f.text_field :font_color_2 %>
  </p>
  <p>
    <%= f.label :font_color_3, "Font colour (3):" %>
    <%= f.text_field :font_color_3 %>
  </p>
  <p>
    <%= f.label :ribbon_color_1, "Ribbon colour (1):" %>
    <%= f.text_field :ribbon_color_1 %>
  </p>
  <p>
    <%= f.label :ribbon_color_2, "Ribbon colour (2):" %>
    <%= f.text_field :ribbon_color_2 %>
  </p>
  <p>
    <%= f.label :ribbon_color_3, "Ribbon colour (3):" %>
    <%= f.text_field :ribbon_color_3 %>
  </p>
  <p>
    <%= f.label :reply_card_styles, "Reply Card Style (traditional mail back, postcard or e-mail/phone)" %>
    <%= f.text_field :reply_card_styles %>
  </p>
  <p>Paper Samples</p>
  <p>
    <%= f.label :paper_sample_color_1, "Colour 1" %>
    <%= f.text_field :paper_sample_color_1 %>
  </p>
  <p>
    <%= f.label :paper_sample_color_2, "Colour 2" %>
    <%= f.text_field :paper_sample_color_2 %>
  </p>
  <p>
    <%= f.label :paper_sample_color_4, "Colour 4" %>
    <%= f.text_field :paper_sample_color_4 %>
  </p>
  <p>
    <%= f.label :special_requests, "Modifications/special requests. Please indicate the sample number. (charges may apply)" %>
    <%= f.text_area :special_requests %>
  </p>
  <p>Remember:</p>
  <ol>
  <li>Your samples will reflect the colours you selected but will have generic wording. We will insert your wording once you place your order. </li>
  <li>If we have your selected papers in stock we will mail your sample along with pricing details within 1 week. If the papers are not in stock we will mail your sample within 2 weeks. We will contact you if there are any delays or backorders.</li>
  <li>We will e-mail you to confirm we received your sample order within 24 hours. If you don't hear from us, please give us a call at 403.226.3041.</li>
</ol>
  <p>Placing your order:</p>
  <ol>
  <li>After you've received your samples and settled on a design and colours, please fill out our online order form and we will contact you to confirm your order and get your 50% deposit. (payable by Visa or MC).</li>
  <li>Once we receive your order we'll send you a contract with estimated timelines. Within a week of receiving your order we'll send you PDF text proofs of your invitations and inserts for your approval.</li>
  <li>Once you approve all text proofs we will complete your order in 2 – 4 weeks (depending on the style).</li>
  <li>The remaining 50% is due when your order is shipped. </li>
</ol>
  <p>Don't hesitate to contact us if you have any questions. Thank you and we look forward to working with you!</p>
  Invitations 	                   
  Save the dates	 x $10/sample =
  Thank you cards	 x $10/sample =
  Programs	 x $10/sample =
  Paper samples	 x $1/sample =
  Paper swatch deck	 x $15/deck =
  Ribbon swatch deck	 x $5/deck =
  
  <p>
    <%= f.label :invitations_quantity, "Invitations" %>
    <%= f.text_field :invitations_quantity %>
  </p>
  <p>
    <%= f.label :invitations_subtotal, "x $20/sample = " %>
    <%= f.text_field :invitations_subtotal %>
  </p>
  <p>
    <%= f.label :save_the_dates_quantity, "Save the dates" %>
    <%= f.text_field :save_the_dates_quantity %>
  </p>
  <p>
    <%= f.label :save_the_dates_subtotal, "x $10/sample =" %>
    <%= f.text_field :save_the_dates_subtotal %>
  </p>
  <p>
    <%= f.label :thank_you_cards_quantity, "Thank you cards" %>
    <%= f.text_field :thank_you_cards_quantity %>
  </p>
  <p>
    <%= f.label :thank_you_cards_subtotal, "x $10/sample =" %>
    <%= f.text_field :thank_you_cards_subtotal %>
  </p>
  <p>
    <%= f.label :programs_quantity, "Programs" %>
    <%= f.text_field :programs_quantity %>
  </p>
  <p>
    <%= f.label :programs_subtotal, "x $10/sample =" %>
    <%= f.text_field :programs_subtotal %>
  </p>
  <p>
    <%= f.label :paper_samples_quantity, "Paper samples" %>
    <%= f.text_field :paper_samples_quantity %>
  </p>
  <p>
    <%= f.label :paper_samples_subtotal, "x $1/sample =" %>
    <%= f.text_field :paper_samples_subtotal %>
  </p>
  <p>
    <%= f.label :paper_swatch_deck_quantity, "Paper swatch deck	 x $15/deck =" %>
    <%= f.text_field :paper_swatch_deck_quantity %>
  </p>
  <p>
    <%= f.label :paper_swatch_deck_subtotal, "x $15/deck =" %>
    <%= f.text_field :paper_swatch_deck_subtotal %>
  </p>
  <p>
    <%= f.label :ribbon_swatch_deck, "Ribbon swatch deck" %>
    <%= f.text_field :ribbon_swatch_deck %>
  </p>
  <p>
    <%= f.label :ribbon_swatch_deck_subtotal, "x $5/deck =" %>
    <%= f.text_field :ribbon_swatch_deck_subtotal %>
  </p>
  <p>
    <%= f.label :subtotal %>
    <%= f.text_field :subtotal %>
  </p>
  <p>
    <%= f.label :gst %>
    <%= f.text_field :gst %>
  </p>
  <p>
    <%= f.label :total %>
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', save_dates_path %>
