<p>
  <b>Name:</b>
  <%=h @save_date.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @save_date.mailing_address %>
</p>

<p>
  <b>Mailing address 2:</b>
  <%=h @save_date.mailing_address_2 %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @save_date.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @save_date.email_address %>
</p>

<p>
  <b>Wedding date:</b>
  <%=h @save_date.wedding_date %>
</p>

<p>
  <b>Sample name:</b>
  <%=h @save_date.sample_name %>
</p>

<p>
  <b>Sample name 2:</b>
  <%=h @save_date.sample_name_2 %>
</p>

<p>
  <b>Sample name 3:</b>
  <%=h @save_date.sample_name_3 %>
</p>

<p>
  <b>Text paper 1:</b>
  <%=h @save_date.text_paper_1 %>
</p>

<p>
  <b>Text paper 1 layer 1:</b>
  <%=h @save_date.text_paper_1_layer_1 %>
</p>

<p>
  <b>Text paper 1 layer 2:</b>
  <%=h @save_date.text_paper_1_layer_2 %>
</p>

<p>
  <b>Text paper 1 layer 3:</b>
  <%=h @save_date.text_paper_1_layer_3 %>
</p>

<p>
  <b>Text paper 2:</b>
  <%=h @save_date.text_paper_2 %>
</p>

<p>
  <b>Text paper 2 layer 1:</b>
  <%=h @save_date.text_paper_2_layer_1 %>
</p>

<p>
  <b>Text paper 2 layer 2:</b>
  <%=h @save_date.text_paper_2_layer_2 %>
</p>

<p>
  <b>Text paper 2 layer 3:</b>
  <%=h @save_date.text_paper_2_layer_3 %>
</p>

<p>
  <b>Text paper 3:</b>
  <%=h @save_date.text_paper_3 %>
</p>

<p>
  <b>Text paper 3 layer 1:</b>
  <%=h @save_date.text_paper_3_layer_1 %>
</p>

<p>
  <b>Text paper 3 layer 2:</b>
  <%=h @save_date.text_paper_3_layer_2 %>
</p>

<p>
  <b>Text paper 3 layer 3:</b>
  <%=h @save_date.text_paper_3_layer_3 %>
</p>

<p>
  <b>Font color 1:</b>
  <%=h @save_date.font_color_1 %>
</p>

<p>
  <b>Font color 2:</b>
  <%=h @save_date.font_color_2 %>
</p>

<p>
  <b>Font color 3:</b>
  <%=h @save_date.font_color_3 %>
</p>

<p>
  <b>Ribbon color 1:</b>
  <%=h @save_date.ribbon_color_1 %>
</p>

<p>
  <b>Ribbon color 2:</b>
  <%=h @save_date.ribbon_color_2 %>
</p>

<p>
  <b>Ribbon color 3:</b>
  <%=h @save_date.ribbon_color_3 %>
</p>

<p>
  <b>Reply card styles:</b>
  <%=h @save_date.reply_card_styles %>
</p>

<p>
  <b>Paper sample color 1:</b>
  <%=h @save_date.paper_sample_color_1 %>
</p>

<p>
  <b>Paper sample color 2:</b>
  <%=h @save_date.paper_sample_color_2 %>
</p>

<p>
  <b>Paper sample color 4:</b>
  <%=h @save_date.paper_sample_color_4 %>
</p>

<p>
  <b>Special requests:</b>
  <%=h @save_date.special_requests %>
</p>

<p>
  <b>Invitations quantity:</b>
  <%=h @save_date.invitations_quantity %>
</p>

<p>
  <b>Invitations subtotal:</b>
  <%=h @save_date.invitations_subtotal %>
</p>

<p>
  <b>Save the dates quantity:</b>
  <%=h @save_date.save_the_dates_quantity %>
</p>

<p>
  <b>Save the dates subtotal:</b>
  <%=h @save_date.save_the_dates_subtotal %>
</p>

<p>
  <b>Thank you cards quantity:</b>
  <%=h @save_date.thank_you_cards_quantity %>
</p>

<p>
  <b>Thank you cards subtotal:</b>
  <%=h @save_date.thank_you_cards_subtotal %>
</p>

<p>
  <b>Programs quantity:</b>
  <%=h @save_date.programs_quantity %>
</p>

<p>
  <b>Programs subtotal:</b>
  <%=h @save_date.programs_subtotal %>
</p>

<p>
  <b>Paper samples quantity:</b>
  <%=h @save_date.paper_samples_quantity %>
</p>

<p>
  <b>Paper samples subtotal:</b>
  <%=h @save_date.paper_samples_subtotal %>
</p>

<p>
  <b>Paper swatch deck quantity:</b>
  <%=h @save_date.paper_swatch_deck_quantity %>
</p>

<p>
  <b>Paper swatch deck subtotal:</b>
  <%=h @save_date.paper_swatch_deck_subtotal %>
</p>

<p>
  <b>Ribbon swatch deck:</b>
  <%=h @save_date.ribbon_swatch_deck %>
</p>

<p>
  <b>Ribbon swatch deck subtotal:</b>
  <%=h @save_date.ribbon_swatch_deck_subtotal %>
</p>

<p>
  <b>Subtotal:</b>
  <%=h @save_date.subtotal %>
</p>

<p>
  <b>Gst:</b>
  <%=h @save_date.gst %>
</p>

<p>
  <b>Total:</b>
  <%=h @save_date.total %>
</p>


<%= link_to 'Edit', edit_save_date_path(@save_date) %> |
<%= link_to 'Back', save_dates_path %>
