
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :date %>
  <%= f.date_select :date %>
</p>
<br>
<p>
  <%= f.label :active %>
  <%= f.check_box :active %>
</p>
<br>
<p class="textarea">
  <%= f.label :content %>
  <%= f.text_area :content %>

</p>
