<h1>New wedding_sample_order</h1>

<% form_for(@wedding_sample_order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :mailing_address %>
    <%= f.text_field :mailing_address %>
  </p>
  <p>
    <%= f.label :mailing_address_2 %>
    <%= f.text_field :mailing_address_2 %>
  </p>
  <p>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :event_date %>
    <%= f.date_select :event_date %>
  </p>
  <p>
    <%= f.label :sample_name_1 %>
    <%= f.text_field :sample_name_1 %>
  </p>
  <p>
    <%= f.label :sample_name_2 %>
    <%= f.text_field :sample_name_2 %>
  </p>
  <p>
    <%= f.label :sample_name_3 %>
    <%= f.text_field :sample_name_3 %>
  </p>
  <p>
    <%= f.label :text_paper %>
    <%= f.text_field :text_paper %>
  </p>
  <p>
    <%= f.label :text_paper_layer_1 %>
    <%= f.text_field :text_paper_layer_1 %>
  </p>
  <p>
    <%= f.label :text_paper_layer_2 %>
    <%= f.text_field :text_paper_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_layer_3 %>
    <%= f.text_field :text_paper_layer_3 %>
  </p>
  <p>
    <%= f.label :text_paper_2 %>
    <%= f.text_field :text_paper_2 %>
  </p>
  <p>
    <%= f.label :text_paper_2_layer_1 %>
    <%= f.text_field :text_paper_2_layer_1 %>
  </p>
  <p>
    <%= f.label :text_paper_2_layer_2 %>
    <%= f.text_field :text_paper_2_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_2_layer_3 %>
    <%= f.text_field :text_paper_2_layer_3 %>
  </p>
  <p>
    <%= f.label :text_paper_3 %>
    <%= f.text_field :text_paper_3 %>
  </p>
  <p>
    <%= f.label :text_paper_3_layer_1 %>
    <%= f.text_field :text_paper_3_layer_1 %>
  </p>
  <p>
    <%= f.label :text_paper_3_layer_2 %>
    <%= f.text_field :text_paper_3_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_3_layer_3 %>
    <%= f.text_field :text_paper_3_layer_3 %>
  </p>
  <p>
    <%= f.label :font_color_1 %>
    <%= f.text_field :font_color_1 %>
  </p>
  <p>
    <%= f.label :font_color_2 %>
    <%= f.text_field :font_color_2 %>
  </p>
  <p>
    <%= f.label :font_color_3 %>
    <%= f.text_field :font_color_3 %>
  </p>
  <p>
    <%= f.label :ribbon_color_1 %>
    <%= f.text_field :ribbon_color_1 %>
  </p>
  <p>
    <%= f.label :ribbon_color_2 %>
    <%= f.text_field :ribbon_color_2 %>
  </p>
  <p>
    <%= f.label :ribbon_color_3 %>
    <%= f.text_field :ribbon_color_3 %>
  </p>
  <p>
    <%= f.label :reply_card_style %>
    <%= f.text_field :reply_card_style %>
  </p>
  <p>
    <%= f.label :paper_sample_color_1 %>
    <%= f.text_field :paper_sample_color_1 %>
  </p>
  <p>
    <%= f.label :paper_sample_color_2 %>
    <%= f.text_field :paper_sample_color_2 %>
  </p>
  <p>
    <%= f.label :paper_sample_color_3 %>
    <%= f.text_field :paper_sample_color_3 %>
  </p>
  <p>
    <%= f.label :paper_sample_color_4 %>
    <%= f.text_field :paper_sample_color_4 %>
  </p>
  <p>
    <%= f.label :special_requests %>
    <%= f.text_area :special_requests %>
  </p>
  <p>
    <%= f.label :invites_quantity %>
    <%= f.text_field :invites_quantity %>
  </p>
  <p>
    <%= f.label :invites_quantity_cost %>
    <%= f.text_field :invites_quantity_cost %>
  </p>
  <p>
    <%= f.label :save_the_date_quantity %>
    <%= f.text_field :save_the_date_quantity %>
  </p>
  <p>
    <%= f.label :save_the_date_quantity_cost %>
    <%= f.text_field :save_the_date_quantity_cost %>
  </p>
  <p>
    <%= f.label :thank_you_cards_quantity %>
    <%= f.text_field :thank_you_cards_quantity %>
  </p>
  <p>
    <%= f.label :thank_you_cards_quantity_cost %>
    <%= f.text_field :thank_you_cards_quantity_cost %>
  </p>
  <p>
    <%= f.label :programs_quantity %>
    <%= f.text_field :programs_quantity %>
  </p>
  <p>
    <%= f.label :programs_quantity_cost %>
    <%= f.text_field :programs_quantity_cost %>
  </p>
  <p>
    <%= f.label :paper_samples_quantity %>
    <%= f.text_field :paper_samples_quantity %>
  </p>
  <p>
    <%= f.label :paper_samples_quantity_cost %>
    <%= f.text_field :paper_samples_quantity_cost %>
  </p>
  <p>
    <%= f.label :paper_swatch_deck_quantity %>
    <%= f.text_field :paper_swatch_deck_quantity %>
  </p>
  <p>
    <%= f.label :paper_swatch_deck_quantity_cost %>
    <%= f.text_field :paper_swatch_deck_quantity_cost %>
  </p>
  <p>
    <%= f.label :ribbon_swatch_deck_quantity %>
    <%= f.text_field :ribbon_swatch_deck_quantity %>
  </p>
  <p>
    <%= f.label :ribbon_swatch_deck_quantity_cost %>
    <%= f.text_field :ribbon_swatch_deck_quantity_cost %>
  </p>
  <p>
    <%= f.label :subtotal %>
    <%= f.text_field :subtotal %>
  </p>
  <p>
    <%= f.label :gst %>
    <%= f.text_field :gst %>
  </p>
  <p>
    <%= f.label :total %>
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', wedding_sample_orders_path %>
