<h1>ORDER FORM – Special Occasions</h1>

<% form_for(@occasion) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :mailing_address %>
    <%= f.text_field :mailing_address %>
  </p>
  <p>
    <%= f.label :mailing_address_2, "" %>
    <%= f.text_field :mailing_address_2 %>
  </p>
  <p>
    <%= f.label :shipping_address, "Shipping address: <br />(if different)" %>
    <%= f.text_field :shipping_address %>
  </p>
  <p>
    <%= f.label :shipping_address_2, "" %>
    <%= f.text_field :shipping_address_2 %>
  </p>
  <p>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email_address, "E-Mail address:" %>
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :design_name %>
    <%= f.text_field :design_name %>
  </p>

  <p>
    <%= f.label :quantity, "Quantity required:" %>
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :ordered_sample, "Did you order a sample?" %>
    <%= f.text_field :ordered_sample %>
  </p>
  <p>
    <%= f.label :sample_number, "If so, indicate sample number from your quote sheet:" %>
    <%= f.text_field :sample_number %>
  </p>
  <div class="clear"></div>
  
  <h2>Paper Selection</h2>
  <p>
    <%= f.label :text_paper %>
    <%= f.text_field :text_paper %>
  </p>
  <p>
    <%= f.label :text_paper_layer_2, "Layer 2:" %>
    <%= f.text_field :text_paper_layer_2 %>
  </p>
  <p>
    <%= f.label :text_paper_layer_3, "Layer 3:" %>
    <%= f.text_field :text_paper_layer_3 %>
  </p>
  <p>
    <%= f.label :text_paper_layer_4, "Layer 4:" %>
    <%= f.text_field :text_paper_layer_4 %>
  </p>
  <p>
    <%= f.label :font_color, "Font colour/s:" %>
    <%= f.text_field :font_color %>
  </p>
  <p>
    <%= f.label :ribbon_color %>
    <%= f.text_field :ribbon_color %>
  </p>
  <h2>Select additional items required.</h2>
  <p class="checkbox_group">
    <%= f.label :print_return, "Print return on outer envelope:" %>
    <%= f.check_box :print_return %>
    <%= f.label :sealing_sticker, "Address labels / sealing sticker:" %>
    <%= f.check_box :sealing_sticker %>
    <%= f.label :colored_envelope,"Metallic / coloured envelopes:" %>
    <%= f.check_box :colored_envelope %>
    <%= f.label :lined_envelope %>
    <%= f.check_box :lined_envelope %>
    <%= f.label :double_envelope %>
    <%= f.check_box :double_envelope %>
    
  </p>
  <div class="clear"></div>
    <%= f.label :verse_information, "Verse Information. <br />(Please email in a seperate MS word Document saved with your names and dated created)" %>
    <%= f.text_area :verse_information %>
  <p class="fullwidth">
    <%= f.label :type_of_event, "Type of event / occasion." %>
    <%= f.text_field :type_of_event %>
  </p>
  <div class="clear">
    
  </div>
  <p >
    <%= f.label :rsvp_contact, "E-mail / phone number for RSVP. (if required)" %>
    <%= f.text_field :rsvp_contact %>
  </p>
  <div class="clear"></div>
  
<p>
  <h4>Notes:</h4>
  <ol>
  <li>Once we receive your order we will send you a contract with estimated timelines and deposit requirements (50% payable by Visa or MasterCard). </li>
  <li>We will send you PDF text proofs within 1 week of receiving your order.</li>
  <li>Once you approve all text proofs it will take 2 – 4 weeks to complete your order.</li>
  <li>The remaining 50% is due when your order is shipped. </li>
  </ol>
</p>
<p class="fullwidth">
  Don't hesitate to contact us if you have any questions. <br>Thank you and we look forward to working with you!
</p>

  
<p class="submit">  
  <%= orders_submit_button %>
</p>

<% end %>

<%= link_to 'Back', occasions_path %>
