<p>
  <b>Name:</b>
  <%=h @occasion.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @occasion.mailing_address %>
</p>

<p>
  <b>Mailing address 2:</b>
  <%=h @occasion.mailing_address_2 %>
</p>

<p>
  <b>Shipping address:</b>
  <%=h @occasion.shipping_address %>
</p>

<p>
  <b>Shipping address 2:</b>
  <%=h @occasion.shipping_address_2 %>
</p>

<p>
  <b>Phone number:</b>
  <%=h @occasion.phone_number %>
</p>

<p>
  <b>Email address:</b>
  <%=h @occasion.email_address %>
</p>

<p>
  <b>Design name:</b>
  <%=h @occasion.design_name %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @occasion.quantity %>
</p>

<p>
  <b>Ordered sample:</b>
  <%=h @occasion.ordered_sample %>
</p>

<p>
  <b>Sample number:</b>
  <%=h @occasion.sample_number %>
</p>

<p>
  <b>Text paper:</b>
  <%=h @occasion.text_paper %>
</p>

<p>
  <b>Text paper layer 2:</b>
  <%=h @occasion.text_paper_layer_2 %>
</p>

<p>
  <b>Text paper layer 3:</b>
  <%=h @occasion.text_paper_layer_3 %>
</p>

<p>
  <b>Text paper layer 4:</b>
  <%=h @occasion.text_paper_layer_4 %>
</p>

<p>
  <b>Font color:</b>
  <%=h @occasion.font_color %>
</p>

<p>
  <b>Ribbon color:</b>
  <%=h @occasion.ribbon_color %>
</p>

<p>
  <b>Print return:</b>
  <%=h @occasion.print_return %>
</p>

<p>
  <b>Sealing sticker:</b>
  <%=h @occasion.sealing_sticker %>
</p>

<p>
  <b>Colored envelope:</b>
  <%=h @occasion.colored_envelope %>
</p>

<p>
  <b>Lined envelope:</b>
  <%=h @occasion.lined_envelope %>
</p>

<p>
  <b>Double envelope:</b>
  <%=h @occasion.double_envelope %>
</p>

<p>
  <b>Verse information:</b>
  <%=h @occasion.verse_information %>
</p>

<p>
  <b>Type of event:</b>
  <%=h @occasion.type_of_event %>
</p>

<p>
  <b>Rsvp contact:</b>
  <%=h @occasion.rsvp_contact %>
</p>



