<%= f.error_messages %>
<p>
  <%= f.label :category_type %><br />
  <%= f.select :category_type, [[ 'Store', 'store' ], [ 'Custom', 'custom' ]] %>
</p>

<p>
  <%= f.label :parent_category %><br />
  <%= f.select( :parent_id, Category.all.collect{|cat| [cat.title, cat.id]}, {:include_blank => true} ) %>
</p>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
