<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Category:</b>
  <%=h @product.category.title %>
</p>

<p>
  <b>Description:</b>
  <%= markdown @product.description %>
</p>

<p>
  <%= link_to 'Occasion Order Form', new_occasion_order_form_path %><br>
  <%= link_to 'Other Sample Order Form', new_other_sample_order_path %><br>
  <%= link_to 'Program Order Form', new_program_order_form_path %><br>
  <%= link_to 'Thank You Order Form', new_thank_you_order_form_path %><br>
  <%= link_to 'Wedding Sample Order', new_wedding_sample_order_path %><br>
</p>




<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
