<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Category:</b>
  <%=h @product.category.title %>
</p>

<p>
  <b>Description:</b>
  <%= markdown @product.description %>
</p>

<p>
  <%= link_to 'Order', order_product_path(@product) %>
</p>

<p>
  <%= link_to 'Sample', sample_product_path(@product) %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
