<%= image_tag @product.images.large.first unless @product.images.large.empty? %>

<h2><%= @product.title %></h2>
hello
<%= markdown @product.description %>
<%= @product.images.large.inspect %>
<% @product.images.large.each do |image, i| %>
  <%= link_to i, image.file.url %>
<% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
