<div id="sleeve">
<div id="product-detail">
	<div class="column product-image">
		<%= default_product_image(@product)  %>
	</div>
	<div class="column product-contents">
		<h2><%= @product.title %></h2>
		<hr class="dotted" />
		<%= markdown @product.description %>
		<% @product.images.large.each_with_index do |image, i| %>
	  	<%= link_to i+1, image.file.url, :class => 'large_image_link' %>
		<% end %><br>
		<hr class="dotted" />
		<button class="sample"><span>Request a Sample</span></button><button class="order"><span>Order Form</span></button>
	</div>
	<div class="clear"></div>
	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>
</div>
</div>