<ul id="nav-side" class="nav vert">
  <li><%= link_to 'About Plush', '/about' %></li>
  <li><%= link_to 'The Plush Blog', blog_path %></li>
  <li><%= link_to 'FAQ', '/faq'  %></li>
  <li><%= link_to 'Plush Praise', '/testimonials' %></li>
  <li><%= link_to 'Contact Us', '/contact' %></li>
</ul>