<ul id="nav-side" class="nav vert">
  <li id="side-about"><%= link_to content_tag('span','About Plush'), '/about' %></li>
  <li id="side-blog"><%= link_to content_tag('span','The Plush Blog'), 'blog_path' %></li>
  <li id="side-faq"><%= link_to content_tag('span','FAQ'), '/faq'  %></li>
  <li id="side-praise"><%= link_to content_tag('span','Plush Praise'), '/testimonials' %></li>
  <li id="side-contact"><%= link_to content_tag('span','Contact Us'), '/contact' %></li>
</ul>