<ul id="nav-top" class="nav horiz">
  <li><%= link_to 'Gift Certificates', '/gift-certificates' %></li>
  <li><%= link_to 'Products', store_path %></li>
  <li><%= link_to 'Process', '/process' %></li>
  <li><%= link_to 'Shipping &amp; Returns', '/shipping-and-returns' %></li>
  <li><%= link_to 'Disclaimers', '/disclaimers' %></li>
</ul>