  <ul id="nav-top" class="nav horiz">
<% if params[:id] == 'custom-invitations'  %>
  <%= nav_list_for Category.find_by_title('Custom Invitations') %>

<% else %>
    <li id="nav-top-gift-certificates"><%= link_to content_tag('span','Gift Certificates'), '/gift-certificates' %></li>
    <li id="nav-top-products">
      <%= link_to content_tag('span','Products'), store_path %>
      <%= nav_list_for Category.find_by_title('Store') %>
    </li>

<% end %>
    <li id="nav-top-process"><%= link_to content_tag('span','Process'), '/process' %></li>
    <li id="nav-top-shipping-and-returns"><%= link_to content_tag('span','Shipping &amp; Returns'), '/shipping-and-returns' %></li>
    <li id="nav-top-disclaimers"><%= link_to content_tag('span','Disclaimers'), '/disclaimers' %></li>
  </ul>