<% unless params[:product_id] %>
<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :file %><br />
  <%= f.file_field :file %>
</p>
<% end %>


<% if params[:product_id] %>
<% image = Image.new(:product_id => params[:product_id]) %>
<% fields_for "product[image_attributes][]", image do |image_form| %>
	<p>
		<%= image_form.label :file %><br />
		<%= image_form.file_field :file %>
	</p>
<% end %>
<% end %>
