<p>
  <b>Title:</b>
  <%=h @image.title %>
</p>

<p>
  <b>Product:</b>
  <%=h @image.product_id %>
</p>

<p>
  <b>Category:</b>
  <%=h @image.category_id %>
</p>

<p>
  <b>File:</b>
  <%= image_tag @image.file.url %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
