<%= render :partial => "pages/head" %>
<body class="<%= page_class_name %>">
  <div id="site">
    <div id="masthead">
      <%= logo_link %>
      <%= render :partial => "nav/utility" %>
    </div>
    <div id="main">
      <div id="nav-top">
		<%= render :partial => top_nav %>
      </div>
      <div id="content">
        <%= yield %>  
        <%= yield :sidebar %>  
      </div>      
    </div>
    <div id="side">
      <div id="nav-side">
        <%= render :partial => "nav/side" %>
      </div>      
    </div>
    <div id="footer">
      <!-- <%= link_to "<span>admin</span", admin_path, :id => 'admin_link' %> -->
    </div>
  </div>
</body>
</html>
