<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Plush</title>
  <%= stylesheet_link_tag 'blueprint', 'plush', 'sifr' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'sifr' %>
  <%= javascript_include_tag 'sifr-config' %>
</head>
<body class="home">
  <div id="site">
    <div id="masthead">
      
    
    </div>
    <div id="main">
      <div id="content">
        <%= yield %>    
      </div>      
    </div>
    <div id="side">
    </div>
  </div>
</body>
</html>
